<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/script.js" defer></script>
    <title>honowa technologie</title>
</head>
<body>
    <section>
        <header>
            <div id="logo-honowa">
                <img src="../image/logo5.jpg" alt="Honowa technologie">
    
                <div class="menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
    
            <nav>
                
                <ul>
                    <li><a href="#home">home</a></li>
                    <li><a href="#about">about</a></li>
                    <li><a href="#service">service</a></li>
                    <li><a href="#hosting-plan">hosting plan</a></li>
                    <li><a href="#contact">contact</a></li>
                    <li><a href="#blogs">blogs</a></li>
                </ul>
            </nav>
        </header>
    
        <main id="home" >
    
            <div class="slider">
    
                <div class="image">
                    <img src="../image/wepik-export-202306291235438ovq.png" alt="">
                    <div class="text-slide text1">
                        <h2>HONOWA Is Your Favorite Software Designer</h2>
                        <p>
                            
                        </p>
                        <button class="btn"><a href="#contact">contact us</a></button>
                    </div>
                </div>
    
                <div class="image visible">
                    <img src="../image/slider1.jpg" alt="">
                    <div class="text-slide">
                        <h2>We Also Build Web Sites, Mobile Applications, Desktop & Web Apss ...</h2>
                        <p>
                            We Design Your Ideas With The Latest Telinchnologies THINK DIGITAL
                        </p>
                        <button><a href="#contact">contact us</a></button>
                    </div>
                </div>
    
                <img src="../image/chevron-circle-left-solid.svg" alt="" class="chevron gauche">
                <img src="../image/chevron-circle-right-solid.svg" alt="" class=" chevron droit">
            </div>
            
            <div id="about">
    
                <div class="entete-bloc">
                    <h1>about us</h1>
                    <span class="ligne"><span class="point"></span></span> 
                    <p></p>
                </div>
                <div class="contenu">
                    HONOWA is an IT agency that assists you in bringing your 
                    project ideas to life, thanks to its ability to understand and implement your needs.
                </div>
    
            </div>
    
            <div id="service">
    
                <div class="entete-bloc">
                    <h1>our service</h1>
                    <span class="ligne">
                        <span class="point"></span>
                    </span>
                    <p>We make your business grow thanks to our digital expertise</p>
                </div>
                <div class="contenu">
    
                        <div class="service">
    
                            <img src="../image/web.png" alt="site internet">
                            <h3>web site</h3>
                            <p>We build great websites to showcase your credibility and value proposition</p>
                            <a href="https://www.services.honowa.com/services/webdev/">Read more</a>
    
                        </div>
        
                        <div class="service">
    
                            <img src="../image/hosting.png" alt="site internet">
                            <h3>Web Hosting</h3>
                            <p>Make your website always available, secure and responsive with our hosting options</p>
                            <a href="https://zoom-lab.com/">Read more</a>
    
                        </div>
    
                        <div class="service">
    
                            <img src="../image/UI.png" alt="site internet">
                            <h3>Digital Marketing</h3>
                            <p>Get more traffic from different sources, organic or paid</p>
                            <a href="https://www.services.honowa.com/services/digitals-marketing/">Read more</a>
                        </div>
    
                   
                        <div class="service">
                            <img src="../image/seo.png" alt="site internet">
                            <h3>Search Engine Optimisation</h3>
                            <p>Rank high in search engines like the others, or better</p>
                            <a href="https://www.services.honowa.com/services/search-engine-optimisation/">Read more</a>
                        </div>
                        <div class="service">
                            <img src="../image/mobile.png" alt="site internet">
                            <h3>Software Engineering</h3>
                            <p>We handle your projects of any size, from drafting the specifications to the implementation.</p>
                            <a href="https://www.services.honowa.com/services/software-engineering/">Read more</a>
                        </div>
                        <div class="service">
                            <img src="../image/training.png" alt="site internet">
                            <h3>Content Writing</h3>
                            <p>Improve your conversion with copy that sells, from business content to articles.</p>
                            <a href="https://www.services.honowa.com/services/content-creation/">Read more</a>
                        </div>
                
                </div>
    
            </div>
            <div id="hosting-plan">
    
                <div class="entete-bloc">
                    <h1>hosting plan</h1>
                    <span class="ligne">
                        <span class="point"></span>
                    </span>
                    <p>Choose the best plan for your project</p>
                </div>
                <div class="contenu">
    
                    <div class="plan">
                        <div class="entete-plan">
                            <h2>bronze</h2>
                            <p class="plan-p1">20,000 fcfa</p>
                            <p class="plan-p2">per year</p>
                        </div>
                        <div class="corps-plan">
                            <ul>
                                <li>1 Free Domain</li>
                                <li>1 cPanel Account</li>
                                <li>100GB Disk Space</li>
                                <li>Unlimited Trafic</li>
                                <li>Free SSL Certificate</li>
                                <li>20 Email Address</li>
                                <li>24/7 Support</li>
                                <li>Free Setup</li>
                            </ul>
    
                            <button><a href="#contact">contact us</a></button>
                        </div>
    
                    </div>
                    <img src="../image/best-seller.png" alt="">
                    <div class="plan">
                        
                        <div class="entete-plan best">
                            <h2>silver</h2>
                            <p class="plan-p1">30,000 fcfa</p>
                            <p class="plan-p2">per year</p>
                        </div>
                        <div class="corps-plan">
                            <ul>
                                <li>1 Free Domain</li>
                                <li>1 cPanel Account</li>
                                <li>150GB Disk Space</li>
                                <li>Unlimited Trafic</li>
                                <li>Free SSL Certificate</li>
                                <li>50 Email Address</li>
                                <li>24/7 Support</li>
                                <li>Free Setup</li>
                            </ul>
    
                            <button><a href="#contact">contact us</a></button>
                        </div>
    
                    </div>
                    <div class="plan">
                        <div class="entete-plan">
                            <h2>gold</h2>
                            <p class="plan-p1">50,000 fcfa</p>
                            <p class="plan-p2">per year</p>
                        </div>
                        <div class="corps-plan">
                            <ul>
                                <li>1 Free Domain</li>
                                <li>1 cPanel Account</li>
                                <li>200GB Disk Space</li>
                                <li>Unlimited Trafic</li>
                                <li>Free SSL Certificate</li>
                                <li>100 Email Address</li>
                                <li>24/7 Support</li>
                                <li>Free Setup</li>
                            </ul>
    
                            <button><a href="#contact">contact us</a></button>
                        </div>
    
                    </div>
    
                </div>
    
            </div>
            <div id="contact">
    
                <div class="entete-bloc">
                    <h1>contact</h1>
                    <span class="ligne">
                        <span class="point"></span>
                    </span>
                    <p></p>
                </div>
                <div class="contenu">
    
                    
                        <span class="spn2">
                            <a href="mailto:contact@honowa.com">
                                 <img src="../image/contact-icon-email.jpg" alt="">
                            </a>
                            <p>contact@honowa.com</p>
                        </span>
                    
    
                    
                        <span class="spn2">
                            <a href="https://www.facebook.com/Tech.Honowa/">
                                <img src="../image/contact-icon-fb.jpg" alt="">
                            </a>
                            <p>Facebook</p>
                        </span>
                    
                    
                        <span class="spn2">
                            <a href="tel:+237674970806">
                                <img src="../image/contact-icon-phone.jpg" alt="">
                            </a>
                            <p>(+237) 674 970 806</p>
                        </span>
                    
                    
                        <span class="spn2">
                            <a href="https://twitter.com/HONOWA6">
                                <img src="../image/contact-icon-tw.jpg" alt="">
                            </a>
                            <p>Twitter</p>
                        </span>
                    
                    
                        <span class="spn1">
                            <a href="https://www.linkedin.com/company/honowa-technology/?viewAsMember=true/">
                                <img src="../image/contact-icon-in.jpg" alt="">
                            </a>
                            <p>LinkedIn</p>
                        </span>
                    
    
                </div>
    
            </div>
            
            <div id="blogs">
    
                <div class="entete-bloc">
                    <h1>useful articles</h1>
                    <span class="ligne">
                        <span class="point"></span>
                    </span>
                    <p>Choose the best plan for your project</p>
                </div>
                <div class="contenu">
                    
                    <div class="article">
                        <img src="../image/classement-cameroun.jpg" alt="image article">
                        <h5>january 10 2019</h5>
                        <a href="#">cameroun in the top 10 e-commerce in africa</a>
                        <p>This is why you can feel free to invest on ecommerce in cameroun</p>
                        <button>Read more</button>
                    </div>
    
                    <div class="article">
                        <img src="../image/blog2.jpg" alt="image article">
                        <h5>25 november 2018</h5>
                        <a href="#">the 7 advantages of a quality website</a>
                        <p>See how a website tailored to your business can boost your business</p>
                        <button>Read more</button>
                    </div>
    
                    <div class="article">
                        <img src="../image/jack-ma.jpg" alt="image article">
                        <h5>25 november 2014</h5>
                        <a href="#">jack ma could invest in south africa</a>
                        <p>Alibaba and his CEO are about to make a big deal in Africa</p>
                        <button>Read more</button>
                    </div>
    
                </div>
    
            </div>
        </main>
    
        <footer>All rights reserved © 2021 | HONOWA</footer>
        <div id="popup">
    
            <div class="titre-popup">
                <span class="close" onclick="closepopup()">x</span>
                <div class="logo-popup">
                    <img src="../image/logo5.jpg" alt="">
                    <span></span>
                </div>
                <div class="titre">
                    <h5>Ets HONOWA</h5>
                    <span>Typically replies within a day</span>
                </div>
            </div>
            <span class="time">2:12</span>
            <div class="message-popup">
                <div class="hi-popup">
                    <img src="../image/logo5.jpg" alt="">
                    <p>Hi there 👋 <br>
                    How can I help you?
                    </p>
                </div>
                <div class="button-popup">
                    <h5>Chat with us :</h5>
                    <button class="btn1">whatsapp</button>
                    <button class="btn2">free live chat widget</button>
                </div>
            </div>
    
            
            </div>
        </div>
        <div id="bouton">
            <span></span>
            <img src="../image/parler.png" alt="">
        </div>
    </section>
</body>
</html>